@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&family=Orbitron:wght@400..900&display=swap');
@import 'tailwindcss';

@theme {
    --color-non-photo-blue: #9CEAEF;
    --color-tahiti: #3ab7bf;
    --color-bermuda: #78dcca;
    --font-mono: "Martian Mono", monospace;
}

@plugin '@tailwindcss/typography';